# Virtual environment
.venv/

# PyCharm
.idea/

# Python cache
__pycache__/

# pytest
.pytest_cache/

# allure
allure-results
allure-report

coverage-results
coverege.html
coverage-report.json
coverage-history.json